<!doctype html>
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "keywords", :content => "" }
    %meta{ :content => "en-US", "http-equiv" => "content-Language" }
    %link{ :href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    %title
      Desoroscopo
    %link{ :href => "/css/styles.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %body
    #page
      #header
        %h1
          %a{ :href => "/" }
            =# TODO: gambiarra detected!
            = "<strong>des</strong>oroscopo"
      %hr
      #content
        = yield
      %hr
      #footer
        %p
          \&copy; 2010.
          %a{ :href => "/", :rel => "license" }
            desoroscopo
          , coisa nenhuma reserved. 